<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/img/logo.png" style="height: 45px;" alt="logo" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7"
        aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resources">Docs</a>
          </li>
          <!-- Dropdown -->
          <% if(loggedIn){ %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Members</a>
              <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/courses">Courses</a>
                <a class="dropdown-item" href="/posts">Blogs</a>
                <a class="dropdown-item" href="/terps">Terps</a>
              </div>
          </li>
          <% } %>
        </ul>
        <div class="form-inline nav-item">
          <% if(!loggedIn) { %> 
            <a href="/auth/register" class="text-white nav-link">Register</a> / <a href="/auth/login" class="text-white nav-link">Login</a>  
          <% } %> 
          <% if(loggedIn){ %> 
            <a href="/auth/logout" class="text-white nav-link">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
</nav>