<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body>

<%- include('layouts/pageNavBar') -%>


<div class="container mb-8" style="margin-top: 130px!important; margin-bottom: 80px;">
    <div>
        <div class="mt-5 mb-5">
            <form action="/terps/store" method="post" enctype="multipart/form-data">

                <!-- Email input -->
                <div class="row mb-4">
                    <div class="form-outline col-md ">
                        <input type="text" id="instructor" name="instructor" class="form-control" />
                        <label class="form-label">Instructor</label>
                    </div>
                    <div class="form-outline col-md ">
                        <input type="text" id="title" name="title" class="form-control" />
                        <label class="form-label">Post Title</label>
                    </div>
                </div>

                <!-- Image input -->
                <div class="form-outline mb-4">
                    <input type="file" id="image" name="image" class="form-control" accept="image/*"/>
                </div>

                <!-- Rating input -->
                <div class="form-outline mb-4">
                    <input type="email" id="email" name="email" class="form-control"/>
                    <label class="form-label">Terp Email</label>
                </div>

                <!-- Message input -->
                <div class="form-outline mb-4">
                    <textarea class="form-control" required id="body" minlength="15" maxlength="85" name="body" rows="4"></textarea>
                    <label class="form-label">Message</label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Submit Review</button>

            </form>
        </div>

    </div>
</div>

<%- include('layouts/footer') -%>

<%- include('layouts/scripts') -%>

</body>
</html>
