<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body>

<%- include('layouts/pageNavBar') -%>
  
  
<div class="container mb-8" style="margin-top: 160px!important;">
    <div class="container text-dark mb-5 mt-5">
        <h2 class="display-3">ASL With Tracy Policy</h2>
        <br />
        <img src="/img/privacyPhoto.png" class="img-fluid" alt="Alternate Text" />
        <br />
        <h1>What is Expected During a Zoom Session</h1>
        <strong>All students must:</strong>

        <ul>
            <li>Be in a well-lit area with the light source in front of you and a simple background.</li>
            <li>Avoid sitting in front of a window or light source, it causes glare and shadows.</li>
            <li>Wear solid colors that contrast with your skin. No patterns or busy designs.</li>
            <li>Your video must be stabilized – be sure your device is on a stable, non-moving surface.</li>
            <li>Signing Space – ensure your screen is tall enough to view from your waist up to the top of your head and
                wide enough to see outstretched elbows on either side.</li>
        </ul>
        <span class="text-info">Important Note:</span> It is the student’s responsibility to ensure that their computer
        and internet connection are working before each session. Technical issues and unclear video could result in a
        canceled lesson.
        <br />
        <h1>Here’s a Fun Video of What to Do:</h1>
        <iframe width="90%" height="383" src="https://www.youtube.com/embed/uOIILzYgxTk" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <br />
        <h1>Cancellations</h1>
        Cancellations must be made 6 hours in advance of your lesson time by text or email. Under <strong>6 hours</strong>
        you will lose the lesson fee. Last-minute cancellations are excused only with valid reason.

        I am flexible with schedule changes to match work or school schedules with advance notice and upon availability.

        If you are having technical difficulties or your video is blurry or lagging, I will reschedule the lesson to give
        you another chance to ensure your equipment is ready. Back-to-back lessons with technical difficulties will result
        in a cancellation and loss of lesson fee.

        I will only wait 15 minutes online during our scheduled time. After <strong>15 minutes</strong> I will consider you
        a no-show and you will lose the lesson fee. You may notify by text or email any delays and I can extend my time
        (depending on availability).
        <br />
        <h1>Payments and Refunds</h1>
        All payments are made through my booking page on Setmore.com.

        Any requested refunds must be made <strong>6 hours</strong> before the scheduled session & will take approximately 5
        – 10 days to process.
    </div>
</div>

<%- include('layouts/footer') -%>

<%- include('layouts/scripts') -%>

</body>
</html>
